/* login register */
.link-Login {
    background-color: #001d3d;
    width: 50%;
    border-radius: 100% 0% 100% 0% / 0% 17% 83% 100%;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    height: 100%;
    z-index: 2;

    @media (max-width: 1000px) {
        display: none;
    }
}

.link-Register {
    background-color: #001d3d;
    width: 50%;
    border-radius: 100% 0% 100% 0% / 79% 100% 0% 21%;
    height: 100%;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    z-index: 2;

    @media (max-width: 1000px) {
        display: none;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
}
.link-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}
.content h1 {
    margin-bottom: 0.5rem;
    font-size: 60px;
    color: #ffc300;
}

.content p,
a {
    color: #fff;
}

.content .notif {
    color: #001d3d;
}
.content .notif-light {
    color: #ffc300;
}

.content button {
    width: 318px;
    padding: 19px 0px;
    font-size: 15px;
    background-color: #ffc300;
    color: #001d3d;
}

.content button:hover {
    background-color: #001d3d;
    color: #ffffffe7;

    @media (max-width: 1000px) {
        color: #ffffffe7;
        background-color: #ffffff4b;
    }
}

.form-logreg {
    width: 50%;
}

/* sidebar style */

.sidebar {
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #001d3d;
    border-radius: 0rem 5rem 5rem 0;
    height: 86vh;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}
.sidebar h2 {
    margin-top: 0.5rem;
    font-size: 35px;
    color: #fff;
}

.sidebar-menu,
.sidebar-button {
    list-style: none;
    font-size: 20px;
    margin-bottom: 2.5rem;
}

.sidebar-menu:first-child {
    margin-top: 2.3rem;
}

.sidebar-menu a,
.sidebar-button {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-button {
    font-weight: normal;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.sidebar-menu a:hover {
    color: #ffc300;
}

.sidebar-menu a svg,
.sidebar-button svg {
    height: 2rem;
    width: 2rem;
    margin-right: 6px;
}
.sidebar-nav {
    padding-left: 0px;
}

/* .sidebar p,
.sidebar a {
    color: #001d3d;
} */
.sidebar-button {
    background-color: #ffffff00 !important;
}
.sidebar-btn-close {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.sidebar-btn-close:hover {
    color: #ffc300;
}
.sidebar-btn-close svg {
    height: 1.5rem;
    width: 1.5rem;
}
/* sidebar close  */
.sidebar-close {
    margin-left: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5rem;
}
.sidebar-btn-open {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-right: 0;
}
.sidebar-btn-open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-sidebar-close {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.sidebar-close svg {
    margin: 0;
}
.sidebar-nav-close a svg {
    margin: 0;
}
.sidebar-nav-close a,
.sidebar-nav-close button {
    margin-left: 8px;
}

/* navbar */

.disable {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-content {
    padding: 10px 20px;
    margin: 0px 10px;
    background-color: #001d3d1c;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.navbar-togel {
    display: flex;
    justify-content: space-between;
}

.hamburger button {
    background-color: transparent;
    border-radius: 0;
}

.hamburger button svg {
    height: 1.5rem;
    width: 1.5rem;
    color: #001d3d;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-menu {
    padding: 5px 0;
}

.navbar-menu a {
    text-decoration: none;
    font-weight: 700;
    color: #001d3d;
}
.navbar-menu a:hover {
    color: #ffc300;
}
.navbar-menu button:hover {
    background-color: #ffc300;
    color: #001d3d;
}

/* table */

.table,
.pagination {
    width: 100%;
}

table {
    min-width: 100%;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-top: 1em;
}

thead {
    box-shadow: 0px 5px 12px -4px rgba(0, 29, 61, 0.31);
}

thead,
th {
    padding: 5px 10px;
    text-align: start;
}

tr,
td,
th {
    padding: 15px 25px;
}

td:first-child,
th:first-child {
    border-radius: 20px 0 0 20px;
}

td:last-child,
th:last-child {
    border-radius: 0 20px 20px 0;
}

table {
    border-collapse: separate;
    border-spacing: 0 8px;
}

.table-row {
    background-color: #f1e1e44f;
}

.row-even {
    background-color: #98abee6c;
}

.table-avatar {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 5rem;
}

.name-avatar {
    display: flex;
    align-items: center;
    gap: 5px;
}

td a {
    color: #001d3d;
}

.table {
    overflow-x: auto;
}

.pagination-button {
    padding: 1.2rem;
}
.pagination button {
    margin: 0 6px;
    padding: 15px 20px;
}
.pagination button:disabled {
    background-color: #001d3d73;
}

/* leader detail */
.leader-detail {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100vw;
    justify-content: space-around;
}

.card-leader {
    width: 500px !important;
    margin-left: 6rem;
    height: auto;
    border-radius: 0.8rem !important;
    border: solid 1px #001d3d3b;
    @media (max-width: 800px) {
        margin-left: 0;
        width: 420px !important;
    }
}

.leader-detail-avatar {
    height: 400px;
    width: 350px;
    position: absolute;
    margin-right: 40rem;
    object-fit: cover;
    border-radius: 0.5rem;
    border: solid 2px #001d3d44;
    @media (max-width: 800px) {
        margin-right: 0;
        border-radius: 100%;
        height: 210px;
        width: 210px;
        margin-bottom: 28rem;
        margin-left: 14rem;
    }
}

.content-leader h1 {
    font-size: 60px;
    margin-bottom: 4px;
    line-height: 1.1;
    @media (max-width: 800px) {
        width: 230px;
    }
}
.content-leader .leader-email {
    font-size: 15px;
    color: #001d3dbb;
    border: solid 2px #001d3d54;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 2rem;
}

.content-leader {
    padding-left: 5rem;
    padding-top: 1rem;
    @media (max-width: 800px) {
        padding-left: 30px;
    }
}

.leader-background {
    margin-top: 1rem;
    padding-left: 7px;
}
.leader-background p {
    margin-bottom: 7px;
}

.leader-skils {
    display: flex;

    width: 350px;
    padding-top: 5px;
}
.leader-skils ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    row-gap: 5px;
}
.leader-skils ul li {
    padding: 4px 10px;
    border: solid 2px #ffc300;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 14px;
}

.leader-skils p {
    padding-left: 0;
    border: 0;
    font-size: 16px;
    padding-top: 4px;
    margin-right: 10px;
}

.leader-achivements {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    margin-top: 1rem;
}

.leader-achivements .finish,
.team,
.ongoing {
    text-align: center;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    background-color: #ffc300;
    margin-bottom: 2rem;
}
@media only screen and(max-width:800) {
}

/* img title layout */

.user {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
}

/* aside top team or leader */
.top-team-leader p {
    color: #001d3d;
    font-size: 16px;
    font-weight: 700;
}

.top-team-leader {
    background-color: #ffc4003a;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 25px;
}

/* chart */

.progress-chart {
    padding-left: 1.5rem;
    width: 56vw;
    height: 270px;
}

.content-chart {
    padding: 1rem 0;
}
