.login,
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.middle-section {
    display: flex;
    gap: 1rem;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    gap: 8px;
}
.end-section {
    margin-top: 20px;
}

.content-aside {
    display: block;
    padding: 10px 25px;
}
.content-aside h2 {
    margin-bottom: 8px;
}

.card-chart {
    width: 60vw !important;
    padding-bottom: 1rem;
}

.content-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-chart {
    display: block;
}
