.login,
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.middle-section {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    row-gap: 1rem;
    @media (max-width: 800px) {
        width: 100%;
        flex-direction: row;
        gap: 1rem;
    }
}
.end-section {
    margin-top: 20px;
}

.content-aside {
    display: block;
    padding: 0.8rem 25px;
}
.content-aside h2 {
    margin-bottom: 8px;
}

.card-chart {
    width: 60vw !important;
    padding-bottom: 1rem;

    @media (max-width: 800px) {
        width: 100% !important;
    }
}

.content-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-chart {
    display: block;
}

/* project and team */
.content-main {
    width: 80vw;
}

.button-create {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-right: 2rem;
}

.button-create button {
    padding: 16px 20px;
}

.form {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 2rem;
    @media (max-width: 700px) {
        width: 80vw;
    }
}

.content-form {
    display: flex;
    justify-content: center;
}
