body {
    margin: 0;
    padding: 0;
    background-color: rgba(202, 201, 201, 0.438);
    font-family: Titillium Web;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
.layout {
    display: flex;
}
.layout-navbar {
    flex-direction: column;
}
.main {
    display: flex;
    justify-content: center;
}
.main-sidebar {
    margin-left: 5.8rem;
}

input,
textarea,
select {
    padding: 20px 16px;
    border-radius: 1.5em;
    border: solid 1px #0035666b;
}

input[type="file"] {
    border: none;
}

input:focus,
textarea:focus,
select:focus {
    outline-color: #ffc300;
    outline-width: 1px;
}

button {
    border-radius: 1em;
    padding: 14px 8px;
    border: none;
    background-color: #001d3d;
    font-weight: 600;
    color: rgba(247, 250, 250, 0.884);
}

select {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background: transparent
        url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
        no-repeat 97% center;
}

.layout-title {
    margin: 5vh 0vw 3vh 0vw;
    padding: 10px 0px;
    padding-left: 1.5em;
    background-color: rgba(255, 255, 255, 0.514);
    width: 78vw;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.5em;
}

.layout-title h1 {
    font-size: 26px;
}

.layout-title-navbar {
    margin-top: 10vh;
}
.layout-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.layout-icons svg {
    width: 25px;
    height: 25px;
}
